@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.poppins {
    font-family: 'Poppins', sans-serif;
}

.overlay {
    background-color: #4d1b37;
    opacity: 0.278;
}